@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  .btn {
    @apply w-fit rounded-lg border border-gray-300 px-4 py-2 shadow-sm active:shadow-inner;
  }

  .btn-accent {
    @apply w-fit rounded-lg  px-4 py-2 shadow-sm active:shadow-inner bg-blue-600 text-sm font-medium text-white hover:bg-blue-700 active:shadow-blue-900;
  }

  .btn-light {
    @apply w-fit rounded-lg border border-gray-300 px-4 py-2 shadow-sm active:shadow-inner bg-white text-sm font-medium text-black hover:bg-slate-400/20 active:shadow-slate-300;
  }

  .btn-menu {
    @apply w-fit rounded-lg bg-white p-2 font-medium text-neutral-700 shadow transition hover:bg-blue-600 hover:text-white active:shadow-blue-900
  }

  .btn-nav-menu {
    @apply w-fit rounded-lg bg-white p-2 font-medium text-orange-600 shadow transition hover:bg-blue-600 hover:text-white active:shadow-blue-900;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
